@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #046c5c;
  --secondary: #0f2f51;
}
a{
  text-decoration: none;
  color: inherit;
}
/* section{
  max-width: 1920px;
} */
/* navbar started */
.navbar{
  background-color: aqua;
  background-color: #F9FAFC;
  top: 0;
  position: sticky;
  z-index: 1;
}
.nav-full{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo{
  width: 25%;
  display: contents;
}
.nav-logo img{
  position: relative;
  width: 230px;
  height: 24px;
  padding-left: 60px;
}
.nav-options{
  width: 75%;
}
.nav-options ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-options ul li{
  width: 25%;
  text-align: center;
  margin: 0 1px;
}
.nav-options ul li h5{
  font-weight: 600;
  font-style: normal;
}
.nav-options ul li i{
  background: #B9D2FC;
  border-radius: 50%;
  padding: 8px;
  margin-right: 5px;
}
.nav-btn{
  display: none;
  padding: 0 10px;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 0px;
}
.nav-btn button{
  background: transparent;
  border: none;
  color: #F9FAFC;
}

.nav-mob{
  display: none;
  text-align: center; 
  color: #F9FAFC;
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  background: #0A2647;
  z-index: -1;
}
.nav-mob ul li{
  margin: 15px 0;
  font-weight: 100;
}
@media(max-width:2000px){
  .nav-mob{
    display: none;
  }
}

@media (max-width: 780px) {
  .navbar{
    background-color: #0A2647;
  }
  .nav-full{
    display: none; 
  }
  .nav-btn{
    display: flex;
  }
}
/* navbar end */

/* hero section started */
.hero{
  /* height: 1200px; */
  background: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  /* position: relative;
  bottom: 40px; */
}
.hero-overlay{
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(20, 66, 114, 0.846) -6.41%, rgba(10, 38, 71, 0.9024) 77.39%), url(.jpg);
}
.hero-container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  /* height: 100%; */
  margin: auto;
  align-items: center;
  padding: 50px 0;
}
.hero-content{
  width: 50%;
  line-height: 4;
  margin: 100px 0;
  font-size: 30px;
}
.hero-content h3{
  color: white;
  font-weight: 300;
  font-size: 1em;
  font-size: 2vw;
}
.hero-content h2 {
  font-weight: 600;
  font-size: 2em;
  font-size: 3.25vw;
  color: white;
  line-height: 58.5px;
}
.hero-img{
  width: 50%;
  text-align: center;
}
.hero-img img{
  width: 80%;
  max-width: 450px;
}
.hero-line{
  width: fit-content;
  line-height: 0.5;
  text-align: center;
}
.hero-line-img{
  text-align: right;
}
.hero-line-img img{
  transform: scale(0.7);
}
.underline{
  position: relative;
  left: 80px;
}
.star{
  position: relative;
  left: 50px;
  bottom: 10px;
}

.download-btn img{
  height: 45px;
  width: 170px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.download-btn img:hover{
  opacity: 0.5;
}

.insights{
  display: flex;
  width: 90%;
  flex-wrap:wrap-reverse;
  margin: auto;
  align-items: center;
  /* justify-content: center; */
}
.insights-card{
  width: 190px;
  /* height: 170px; */
  border-radius: 10px;
  background-color: #F9FAFC;
  box-shadow: 0px 0px 9.45646px rgba(60, 60, 60, 0.12);
  color: #212121;
  margin: 30px 15px;
  padding: 10px;
  text-align: center;
  line-height: 1.6;
}
.insights-card img{
  transform: scale(0.7);
}
.insights-card h2{
  font-size: 1.5em;
  font-weight: 600;
}
.insights-card h4{
  font-weight: 400;
}
.insights-icon{
  height: 60px;
}

.imortant-insights{
  color: #F9FAFC;
  margin-top: 155px;
  margin-left: 70px;
  text-align: center;
  line-height: 2.7;
}
.imortant-insights h2{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}
.imortant-insights img{
  padding: 10px;
  width: 50px;
  height: 50px;
  background: #F9FAFC;
  border-radius: 99999px;
}

@media(max-width:1024px){
  .hero-img img{
    width: 90%;
    max-width: 450px;
  }
  .insights{
    justify-content: center;
  }
  .imortant-insights{
    margin: 0;
  }
  .hero-content{
    line-height: 2;
  }
}
@media(max-width: 780px){
  .hero-container{
    justify-content: center;
  }
  .hero-img{
    width: 90%;
  }
  .download-btn img{
    margin: 50px 0;
    text-align: center;
    width: 40%;
  }
  .hero-content{
    width: 90%;
    line-height: 2;
    text-align: center;
  }
  .hero-content h3{
    font-size: 4vw;
  }
  .hero-content h2{
    font-size: 7.5vw;
  }
  .hero-line{
    margin: auto;
  }
  .imortant-insights h2{
    font-size: 20px;
  }
  .insights{
    width: 100%;
  }
  .insights-card{
    width: 150px
  }
}
/* hero section end */

/* Organizers Start */
.organizers{
  background: #0A2647;
  width: 100%;
  overflow: hidden;
}
.orgaizers-container{
  display: flex;
}
.organizers-side-left{
  position: relative;
  top: 120px;
  right: 10px;
  width: 5%;
}
.organizers-side-left img{
  transform: rotate(180deg) scale(0.7);
}
.right-icon{
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 10px;
}
.right-icon img{
  transform: scale(0.7);
}
.orginizers-center{
  width: 95%;
}
.organizers-heading{
  display: flex;
  align-items: center;
}
.organizers-heading img{
  padding: 10px;
  width: 50px;
  height: 50px;
  background: #F9FAFC;
  border-radius: 99999px;
  margin-right: 30px;
}
.organizers-heading-content{
  color: #F9FAFC;
  margin: 0 20px;
  line-height: 1.8;
}
.organizers-heading-content h2{
  font-size: 2em;
}
.organizers-heading-content h4{
  font-size: 1.1em;
  font-weight: 400;
}
.organizers-card-container{
  /* width: 100%; */
  margin: 3% auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.organizers-card{
  max-width: 170px;
  height: 150px;
  width: 18%;
  background: #F9FAFC;
  border-radius: 10px;
  margin: 0 2%;
  position: relative;
}
.card-2{
  bottom: 50px;
}
.card-3{
  bottom: 100px;
}
.card-4{
  bottom: 150px;
}
.card-badge{
  display: flex;
}
.badge-circle{
  background: #0A2647;
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
  width: 50%;
  height: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-circle i{
  color: #F9FAFC;
}
.organizers-card-content{
  position: absolute;
  bottom: 0;
  margin: 20px;
  color: #0A2647;
  font-size: larger;
}
@media (max-width:1024px) {
  .organizers-card{
    height: 130px;
  }
}
@media(max-width:780px){
  .organizers-card-container{
    flex-direction: column;
    align-items: center;
  }
  .organizers-card{
    margin-bottom: 80px;
    width: 170px;
    height: 150px;
  }
  .card-1{
    left: 40px;
  }
  .card-3{
    right: 40px;
  }
  .card-4{
    right: 80px;
  }
  .organizers-side-left{
    top: 1000px;
  }
}
/* Organizers End */

/* Stadium Owner Start */
.owner{
  width: 100%;
  background: #0A2647;
  /* border: 5px solid white; */
  padding-bottom: 7%;
}
.owner-heading{
  display: flex;
  margin: 0 5%;
  justify-content: end;
  color: #F9FAFC;
  line-height: 2;
  align-items: center;
  font-size: 1.2em;
}
.owner-heading img{
  padding: 10px;
  width: 50px;
  height: 50px;
  background: #F9FAFC;
  border-radius: 99999px;
  margin-right: 50px;
}
.owner-container{
  width: 80%;
  margin: auto;
}
.owner-steps{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.owner-steps-col{
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 10%;
  height: fit-content;
}
.owner-steps-col h1{
  font-size: 2em;
  border: 1px solid black;
  padding: 10px;
  background: #F9FAFC;
  border-radius: 9999px;
  color: #0A2647;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0px auto;
  margin-bottom: 20px;
}
.owner-steps-col p{
  color: #F9FAFC;
  text-align: center;
}
.owner-steps-col hr{
  height: 3px;
  background-image: linear-gradient(90deg, #F9FAFC, #F9FAFC 75%, transparent 75%, transparent 100%);
  background-size: 21px 1px;
  border: none;
  position: relative;
  top: 30px;
}
.big-line{
  width: 80%;
}
.small-line{
  width: 40%;
}

@media(max-width: 576px){
  .owner-heading{
    justify-content: center;
    line-height: 1.4;
    font-size: 1em;
  }
  .owner-steps-col{
    width: 100%;
    margin-bottom: 50px;
  }
  .owner-steps-col h1{
    color: #0A2647;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col-one{
    justify-content: end;
  }
  .col-two{
    justify-content: start;
  }
  .owner-container{
    width: 100%;
  }
  .big-line{
    width: 20%;
  }
  .small-line{
    width: 10%;
  }
  .owner-card{
    width: 70px;
  }
}
/* Stadium Owner End */

/* Device Start */
.device{
  position: relative;
  top: 80px;
  color: #0A2647;
  width: 70%;
  margin: auto;
  /* margin-bottom: 100px; */
}
.device-heading{
  text-align: center;
}
.device-heading h1{
  font-size: 2em;
  font-weight: normal;
  font-weight: bolder;
}

.device-row{
  margin: 4% 0;
  display: flex;
  flex-wrap: wrap;
}
.device-col{
  width: 33%;
  margin: auto;
  text-align: center;
}
.device-col img{
  transform: scale(0.7);
}
.device-col p{
  font-weight: 700;
  font-size: 1.2em;
}
@media(max-width:576px){
  .device{
    width: 90%;
  }
  .device-heading h1{
    font-size: 1.2em;
  }
  .device-col img{
    transform: scale(0.6);
  }
}
/* Device End */

/* Reach us Started */
.reach-us {
  background: #0A2647;
  color: #F9FAFC;
  padding-bottom: 4%;
  height: 200px;
  position: relative;
  z-index: 0;
}

.reach-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.reach-heading {
  position: relative;
  bottom: 80px;
  width: 37%;
  font-size: 18px;
}

.reach-heading img {
  transform: scale(0.6);
}

.reach-heading h1 {
  font-size: 1.4em;
}

.reach-heading h4 {
  margin: 4% 0;
  font-weight: 300;
}

.reach-circle {
  /* width: 400px;
  height: 200px;
  background: #046c5c;
  position: absolute;
  bottom: 150px;
  left: -100px;
  z-index: -1;
  border-radius: 200px 200px 0 0;
  overflow: hidden;
  padding-top: 20px; */
  width: 50%;
  height: 25vw;
  max-width: 400px;
  max-height: 200px;
  min-width: 300px;
  min-height: 150px;
  background-color: #0A2647;
  border-radius: 200px 200px 0px 0px;
  overflow: hidden;
  position: relative;
  top: 80px;
  right: 80px;
}
.reach-phone{
  font-size: 17px;
  width: 30%;
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reach-phone hr{
  width: 20px;
}
.reach-phone i{
  margin: 5px;
  font-size: 1.3em;
}

@media(max-width:780px){
  .reach-us {
    height: auto;
  }
  .reach-heading{
    font-size: 16px;
    width: 100%;
    bottom: 50px;
  }
  .reach-phone{
    font-size: 17px;
    width: 100%;
    text-align: left;
    line-height: 3;
  }
}
/* Reach us End */

/* footer start */
.footer{
  background: url("./img/footer-bg.png");
  background-size: cover;
  background-position: 0px -200px;
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
}
.footer-overlay{
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  height: 100%;
  padding: 20px 0;
}
.footer-social{
  width: 24%;
  /* border: 5px solid green; */
  margin: auto 3%;
  font-size: 13px;
}
.footer-logo{
  width: 90%;
  margin: auto;
  max-width: 320px;
  /* height: 30px; */
  /* border: 1px solid slateblue; */
}
.footer-logo img{
  transform: scale(0.8);
  width: 100%;
  height: 100%;
  margin: auto;
}
.footer-logo p{
  text-align: right;
  font-size: 0.8em;
  /* border: 1px solid palevioletred; */
}
.social-links{
  display: flex;
  margin: 20px auto;
}
.social-col{
  width: 50%;
  line-height: 2;
  margin: 5px 0;
  /* border: 1px solid palegreen; */
}
.social-col p{
  text-align: left;
}
.social-col i{
  margin: 3px;
  font-size: 1.1em;
}
.footer-col{
  width: 50%;
  /* border: 1px solid purple; */
  line-height: 2.5;
  font-size: 13px;
  display: flex;
  justify-content: center;
  font-weight: 550;
  margin: 0 2%;
}
.footer-col h2{
  color: #212121;
}
.footer-col ul li{
  list-style: none;
  color: rgba(33, 33, 33, 0.9);
}
.footer-group{
  display: flex;
  width: 30%;
  /* margin: 0 2%; */
  margin: 0 auto;
}
@media(max-width: 767px){
  .footer-col{
    font-size: 10px;
  }
  .footer-col h2{
    font-size: 1.2em;
  }
  .social-col p{
    font-size: 0.9em;
  }
  .social-col i{
    font-size: 1em;
  }
}
@media(max-width: 576px){
  .footer-social{
    width: 88%;
    margin: auto;
  }
  .footer-group{
    width: 90%;
    margin: auto;
    margin-bottom: 12px;
    justify-content: start;
  }
  .footer-col{
    justify-content: start;
  }
  .footer-col ul li{
    font-size: 1.3em;
  }
}

/* footer end */